{% extends 'content/base.html' %}
{% load static %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block main %}
    <div class="container-fluid bg-dark text-light py-1">
        <h1 class="text-center my-4 display-5">{{ category.name }}</h1>
    </div>
    <section>
        <div class="my-4 card">
            <img src="{% static 'img/category.png' %}" alt="{{ category.name }}" class="card-img-top">
            <div class="card-body bg-dark text-light">
                <p class="card-text text-center lead">{{ category.description|linebreaksbr }}</p>
            </div>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    {% include 'content/book_card.html' %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

